.main__hero

  &--wrapper
    width: 100%
    height: 100%
    padding: toEm(30) toEm(40)
    @include displayFlex(column, center, center)
    gap: 25px

    .image
      width: 250px
      height: 300px
      border-radius: 52% 48% 70% 30% / 51% 55% 45% 49%
      background-color: $primaryColor
      overflow: hidden
      transition: .3s ease-in-out
      @include displayFlex(row, center, center)
      @include animation('animateBlob 13s infinite')

      &:hover
        background-color: $labelColor
      
      img
        width: 90%
        height: 100%
        object-fit: cover

    .content
      @include displayFlex(column, center, center)
      gap: 14px
        
      .main-title
        font-size: 63px
        text-align: center
        font-style: italic

      .description
        font-weight: 500

      .cv
        span, i
          pointer-events: none