.main__skills
  @include displayFlex(row, center, center)
  width: 100%
  height: 100%

  &--wrapper
    @include displayFlex(column, center, center)
    width: 100%
    gap: toRem(50)

    @include media-query(840px)
      gap: toRem(30)


    .title
      text-align: center

    .skills
      width: 100%
      height: 100%
      @include displayFlex(row, center, flex-start)
      gap: toRem(50)
      
      @include media-query(840px)
        @include displayFlex(column, flex-start, center)
        gap: toRem(20)

      &__item
        @include displayFlex(column, flex-start, center)
        gap: toRem(10)
        padding: toEm(15) toEm(22)
        border-radius: 20% 31% 67% 33% / 89% 20% 14% 61%
        transition: .3s ease-in-out
        border: 2px solid transparent

        @include media-query(920px)
          padding: toEm(15)

        @include media-query(840px)
          padding: toEm(15) toEm(22)

        &.active
          border-color: $accent

        &:hover
          border-color: $highlighted

        &--title
          font-weight: 700
          font-style: italic
          font-size: toRem(18)

        &--list
          text-align: center
          list-style-type: none
          @include displayFlex(column, flex-start, center)
          gap: toRem(5)


