@import './utils/variables'
@import './utils/mixins'
@import './utils/functions'
@import './utils/classes'

@import './components/buttons'

@import './sections/header'
@import './sections/footer'
@import './sections/hero'
@import './sections/experiences'
@import './sections/formations'
@import './sections/projects'


*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: inherit

html
  box-sizing: border-box

body
  font-family: $primaryFont
  background-color: $mainBackground
  color: $primaryColor
  min-height: 100vh
  display: flex
  flex-direction: column

  @media (min-width: 667px)
    overflow-y: hidden

a
  color: $primaryColor
  text-decoration: none

a, button
  font-family: $primaryFont

::selection
  background: $secondBackgroundColor
  color: $mainBackground


.main
  width: 100vw
  margin: 0 auto
  display: flex
  overflow-x: hidden
  scroll-behavior: smooth

  section
    min-width: 100vw
