@import './utils/variables'
@import './utils/mixins'
@import './utils/functions'
@import './utils/classes'
@import './utils/keyframes'

@import './components/preload'
@import './components/particles'
@import './components/buttons'

@import './sections/header'
@import './sections/footer'
@import './sections/hero'
@import './sections/about'
@import './sections/skills'
@import './sections/career'
@import './sections/projects'


*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: inherit

html
  box-sizing: border-box

body
  font-family: $font
  font-weight: 400
  font-style: normal
  background-color: $background
  color: $color
  height: 100%
  min-height: 100vh
  display: flex
  flex-direction: column
  width: 100%
  overflow-x: hidden
  position: relative
  transform-origin: center
  transition: .3s ease-in-out

a
  color: $color
  text-decoration: none

a, button
  font-family: $font
  font-weight: 400
  font-style: normal

::selection
  background: $color
  color: $background


h3
  font-size: toRem(16)

.main
  flex-grow: 1
  width: 100%
  @include displayFlex(column, center, flex-start)
  gap: 130px
  scroll-behavior: smooth
  transition: .3s ease-in-out

  section
    width: 100%

  .section
    opacity: 0
    transform: translateY(50px)
    margin-bottom: 100px



::-webkit-scrollbar
  width: toRem(12)

::-webkit-scrollbar-track
  background: $color

::-webkit-scrollbar-thumb
  background: lighten($background, 10%)
  border-radius: 6px

::-webkit-scrollbar-thumb:hover
  background: $accent