@import './utils/variables'
@import './utils/mixins'
@import './utils/functions'
@import './utils/classes'
@import './utils/keyframes'

@import './components/buttons'

@import './sections/header'
@import './sections/footer'
@import './sections/hero'
@import './sections/skills'
@import './sections/career'
@import './sections/projects'


*, *::before, *::after
  margin: 0
  padding: 0
  box-sizing: inherit

html
  box-sizing: border-box

body
  font-family: $primaryFont
  background-color: $mainBackground
  color: $primaryColor
  min-height: 100vh
  display: flex
  flex-direction: column
  width: 100%
  overflow-x: hidden

  @media (min-width: 667px)
    overflow-y: hidden

a
  color: $primaryColor
  text-decoration: none

a, button
  font-family: $primaryFont

::selection
  background: $secondBackgroundColor
  color: $mainBackground


.main
  width: 100vw
  height: calc(100vh - 70.4px - 78.2px)
  margin: 0 auto
  display: flex
  overflow: hidden
  scroll-behavior: smooth

  @include media-query(666px)
    @include displayFlex(column, center, flex-start)
    gap: 70px
    height: unset
    overflow-y: auto

  section
    min-width: 100vw