$browserContext: 16
$primaryFont: "Moderustic", sans-serif
$titleFont: "Playfair Display", sans-serif
$primaryColor: #070707
// $primaryHoverColor: #14213D
$primaryHoverColor: #3a5287
$buttonBackgroundColor: #E5E5E5
$labelColor: #FCA311
$mainBackground: #FFF