.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1340px) {
  .wrapper {
    padding: 0 20px;
  }
}

.logo {
  color: #070707;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: -5px;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  color: #3a5287;
  scale: 1.1;
}

.display-none {
  display: none !important;
}

.main-title {
  margin: 0;
  font-family: "Playfair Display", sans-serif;
}

.title {
  letter-spacing: 15px;
  font-style: italic;
  display: none;
}
@media (max-width: 840px) {
  .title {
    display: block;
  }
}

.line-through {
  text-decoration: line-through;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 3px;
}

@keyframes animateBlob {
  0%, 100% {
    background: #070707;
    background: linear-gradient(168deg, #070707 0%, rgb(245, 245, 245) 100%);
    border-radius: 52% 48% 70% 30%/51% 55% 45% 49%;
  }
  25% {
    background: #fbc4ab;
    background: linear-gradient(340deg, #e2d9cc 0%, #fbc4ab 100%);
    border-radius: 30% 70% 8% 92%/49% 19% 81% 51%;
  }
  50% {
    background: #14213D;
    background: linear-gradient(340deg, #dedcd9 0%, #14213D 100%);
    border-radius: 30% 70% 8% 92%/49% 19% 81% 51%;
  }
}
.primary-cta {
  background-color: #070707;
  color: #FFF;
  border-radius: 40px;
  border: 1px solid #070707;
  padding: 0.3125em 1.0625em;
  text-transform: lowercase;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease-in-out;
}
.primary-cta:hover {
  background-color: #FFF;
  color: #3a5287;
  border-color: #3a5287;
}

.secondary-cta {
  background-color: #FFF;
  color: #070707;
  border-radius: 40px;
  border: 1px solid #070707;
  padding: 0.3125em 1.0625em;
  text-transform: lowercase;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease-in-out;
}
.secondary-cta:hover {
  background-color: #070707;
  color: #FFF;
}

.header {
  width: 100%;
  padding: 1.25em 0;
}
@media (max-width: 840px) {
  .header {
    padding: 1.25em 0;
  }
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 840px) {
  .header__content {
    align-items: flex-start;
  }
}
.header__content--logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__content--nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.875em;
}
@media (max-width: 840px) {
  .header__content--nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 0.3125em;
  }
}
.header__content--nav a {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  position: relative;
  text-transform: lowercase;
  transition: color 0.3s ease-in-out;
  font-family: "Moderustic", sans-serif;
}
@media (max-width: 840px) {
  .header__content--nav a {
    font-size: 1rem;
  }
}
.header__content--nav a:hover {
  color: #3a5287;
}
.header__content--nav a:hover::after {
  width: 100%;
}
.header__content--nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 0;
  background-color: #3a5287;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .header__content--nav a::after {
    bottom: 0;
    height: 1px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.625em 0;
  transition: 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .footer {
    margin-top: auto;
    position: unset;
    bottom: unset;
    padding: 1.25em 0;
  }
}
.footer.vertical-scroll {
  margin-top: auto;
  position: unset;
  bottom: unset;
  padding: 1.25em 0;
  background-color: #070707;
  color: #FFF;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.9375em;
}
.footer__content--links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 840px) {
  .footer__content--links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.9375em;
  }
}
.footer__content--links .menu {
  display: none;
  gap: 15px;
}
@media (max-width: 840px) {
  .footer__content--links .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
  }
}
.footer__content--links .menu a {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .footer__content--links .menu a {
    font-size: 0.875rem;
  }
}
.footer__content--links .menu a:hover {
  color: #3a5287;
}
.footer__content--links .menu a:hover::after {
  width: 100%;
}
.footer__content--links .menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background-color: #3a5287;
  transition: all 0.3s ease-in-out;
}
.footer__content--links .find-me {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}
.footer__content--links .find-me a {
  font-size: 1.125rem;
  transition: color 0.3s ease-in-out;
}
.footer__content--links .find-me a:hover {
  color: #3a5287;
}
.footer__content--copyrights {
  width: 100%;
  text-align: center;
}
@media (max-width: 840px) {
  .footer__content--copyrights {
    font-size: 0.75rem;
    text-align: left;
  }
}
.footer__content--copyrights a, .footer__content--copyrights span {
  font-size: 0.8125rem;
  font-weight: 400;
}
.footer__content--copyrights a {
  transition: color 0.3s ease-in-out;
  color: inherit;
}
@media (max-width: 840px) {
  .footer__content--copyrights a {
    font-size: 0.75rem;
  }
}
.footer__content--copyrights a:hover {
  color: #3a5287;
}

.main__hero--wrapper {
  width: 100%;
  height: 100%;
  padding: 1.875em 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.main__hero--wrapper .image {
  width: 250px;
  height: 250px;
  border-radius: 52% 48% 70% 30%/51% 55% 45% 49%;
  background-color: #070707;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  -webkit-animation: animateBlob 13s infinite;
  -moz-animation: animateBlob 13s infinite;
  -ms-animation: animateBlob 13s infinite;
  -o-animation: animateBlob 13s infinite;
  animation: animateBlob 13s infinite;
}
.main__hero--wrapper .image:hover {
  background-color: #fbc4ab;
}
.main__hero--wrapper .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__hero--wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
}
.main__hero--wrapper .content .main-title {
  font-size: 63px;
  text-align: center;
  font-style: italic;
}
.main__hero--wrapper .content .description {
  font-weight: 500;
}
.main__hero--wrapper .content .cv span, .main__hero--wrapper .content .cv i {
  pointer-events: none;
}

.main__skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main__skills--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 840px) {
  .main__skills--wrapper {
    gap: 1.875rem;
  }
}
.main__skills--wrapper .skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 840px) {
  .main__skills--wrapper .skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
  }
}
.main__skills--wrapper .skills__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  padding: 1.5625em 1.25em;
  transition: 0.3s ease-in-out;
}
@media (max-width: 920px) {
  .main__skills--wrapper .skills__item {
    padding: 0.625em;
  }
}
@media (max-width: 840px) {
  .main__skills--wrapper .skills__item {
    padding: 0.625em 1.5625em;
  }
}
.main__skills--wrapper .skills__item:hover, .main__skills--wrapper .skills__item.active {
  background-color: #E5E5E5;
  color: #070707;
  scale: 1.2;
}
@media (max-width: 920px) {
  .main__skills--wrapper .skills__item:hover, .main__skills--wrapper .skills__item.active {
    scale: 1.1;
  }
}
@media (max-width: 840px) {
  .main__skills--wrapper .skills__item:hover, .main__skills--wrapper .skills__item.active {
    scale: 1;
  }
}
.main__skills--wrapper .skills__item:hover.skills__front, .main__skills--wrapper .skills__item.active.skills__front {
  border-radius: 87% 13% 92% 8%/8% 84% 16% 92%;
}
.main__skills--wrapper .skills__item:hover.skills__back, .main__skills--wrapper .skills__item.active.skills__back {
  border-radius: 20% 31% 67% 33%/39% 20% 14% 61%;
}
.main__skills--wrapper .skills__item:hover.skills__more, .main__skills--wrapper .skills__item.active.skills__more {
  border-radius: 42% 20% 44% 20%/20% 20% 20% 36%;
}
.main__skills--wrapper .skills__item.active {
  background: linear-gradient(340deg, #ff9a9a 0%, #fbc4ab 100%);
  color: #070707;
}
.main__skills--wrapper .skills__item--title {
  font-size: 2.5rem;
}
.main__skills--wrapper .skills__item--list {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.main__skills--wrapper .skills__item--list .skill {
  font-size: 1.125rem;
}

.main__career {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__career--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1055px) {
  .main__career--wrapper {
    padding-top: 2.5em;
  }
}
@media (max-width: 840px) {
  .main__career--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
}
.main__career--wrapper .experiences, .main__career--wrapper .education {
  width: 100%;
  border-left: 1px dashed #14213D;
  background-color: #FFF;
  color: #070707;
  padding: 1.25em 1.875em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  position: relative;
  transition: 0.3s ease-in-out;
}
@media (min-width: 841px) and (max-width: 1140px) {
  .main__career--wrapper .experiences, .main__career--wrapper .education {
    gap: 10px;
  }
}
@media (max-width: 740px) {
  .main__career--wrapper .experiences, .main__career--wrapper .education {
    gap: 10px;
    padding: 0.625em 1.875em;
  }
}
@media (max-width: 840px) {
  .main__career--wrapper .experiences, .main__career--wrapper .education {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0 1.25em;
    width: 95%;
    justify-content: center;
    border: none;
  }
}
.main__career--wrapper .experiences__title, .main__career--wrapper .education__title {
  position: absolute;
  top: -25px;
  right: 0;
  font-style: italic;
  font-size: 0.9375rem;
  font-weight: 500;
  letter-spacing: 0.1875rem;
}
@media (min-width: 841px) and (max-width: 1140px) {
  .main__career--wrapper .experiences__title, .main__career--wrapper .education__title {
    top: 0;
  }
}
@media (max-width: 840px) {
  .main__career--wrapper .experiences__title, .main__career--wrapper .education__title {
    display: none;
  }
}
.main__career--wrapper .experiences__item, .main__career--wrapper .education__item {
  z-index: 20;
  padding: 0.125em 0.3125em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  transition: 0.3s ease;
}
.main__career--wrapper .experiences__item:hover, .main__career--wrapper .education__item:hover {
  background-color: #E5E5E5;
  border-radius: 10px;
}
@media (max-width: 840px) {
  .main__career--wrapper .experiences__item:hover, .main__career--wrapper .education__item:hover {
    border-radius: 20px;
    scale: 1.025;
  }
}
@media (max-width: 840px) {
  .main__career--wrapper .experiences__item, .main__career--wrapper .education__item {
    padding: 0.625em 1.25em;
    border: 1px solid #14213D;
    border-radius: 20px;
  }
}
.main__career--wrapper .experiences__item--society, .main__career--wrapper .experiences__item--title, .main__career--wrapper .education__item--society, .main__career--wrapper .education__item--title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  color: #14213D;
}
@media (min-width: 841px) and (max-width: 967px) {
  .main__career--wrapper .experiences__item--society, .main__career--wrapper .experiences__item--title, .main__career--wrapper .education__item--society, .main__career--wrapper .education__item--title {
    font-size: 0.8125rem;
  }
}
.main__career--wrapper .experiences__item--date, .main__career--wrapper .education__item--date {
  font-style: italic;
  color: #000;
  font-weight: 500;
  font-size: 0.9375rem;
}
@media (min-width: 841px) and (max-width: 967px) {
  .main__career--wrapper .experiences__item--date, .main__career--wrapper .education__item--date {
    font-size: 0.75rem;
  }
}
.main__career--wrapper .experiences__item--description, .main__career--wrapper .education__item--description {
  font-size: 0.9375rem;
}
@media (min-width: 841px) and (max-width: 967px) {
  .main__career--wrapper .experiences__item--description, .main__career--wrapper .education__item--description {
    font-size: 0.8125rem;
  }
}
.main__career--wrapper .education {
  grid-template-columns: 1fr;
}
.main__career--wrapper .education__item {
  width: fit-content;
  padding: 0.125em 0.9375em;
}
@media (max-width: 840px) {
  .main__career--wrapper .education__item {
    width: unset;
    padding: 0.625em 1.25em;
    border: 1px solid #14213D;
    border-radius: 20px;
  }
}
.main__career--wrapper .education__item--date {
  display: none;
}
.main__career--wrapper .education__item--mention {
  font-style: italic;
  color: #000;
  font-weight: 500;
  font-size: 0.8125rem;
}
.main__career--wrapper .career-tabs {
  z-index: 10;
  background-color: #FFF;
  position: absolute;
  top: 25px;
  left: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 1340px) {
  .main__career--wrapper .career-tabs {
    left: 5px;
  }
}
@media (max-width: 840px) {
  .main__career--wrapper .career-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    top: 0;
    transform: unset;
    border: none;
  }
}
.main__career--wrapper .career-tabs__item {
  padding: 0.4375em 0.375em;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 840px) {
  .main__career--wrapper .career-tabs__item {
    padding: 0.4375em 0.9375em;
  }
}
.main__career--wrapper .career-tabs__item:hover {
  background-color: #E5E5E5;
}
.main__career--wrapper .career-tabs__item.active {
  z-index: 30;
  background-color: #070707;
  scale: 1.1;
}
.main__career--wrapper .career-tabs__item.active i {
  color: #FFF;
}
.main__career--wrapper .career-tabs__item i {
  color: #070707;
  transition: 0.3s ease-in-out;
  pointer-events: none;
}

.main__projects {
  background-color: #070707;
  color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main__projects--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 1355px) {
  .main__projects--wrapper {
    padding: 1.25em;
  }
}
@media (max-width: 840px) {
  .main__projects--wrapper {
    padding: 3.125em 0 5em;
    gap: 1.875rem;
  }
}
.main__projects--wrapper .projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 3.125em 0.625em;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.875em;
    gap: 10px;
  }
}
.main__projects--wrapper .projects__filters {
  height: 100%;
}
.main__projects--wrapper .projects__filters--list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  padding: 1.25em 0.9375em;
  border-radius: 10px;
  border-right: 0.4px solid #fbc4ab;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__filters--list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-right: none;
  }
}
.main__projects--wrapper .projects__filters--list .filter {
  font-size: 1.125rem;
  font-weight: 400;
  position: relative;
  text-transform: lowercase;
  transition: color 0.3s ease-in-out;
  font-family: "Moderustic", sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__filters--list .filter {
    font-size: 1rem;
  }
}
.main__projects--wrapper .projects__filters--list .filter:hover, .main__projects--wrapper .projects__filters--list .filter.active {
  color: #fbc4ab;
  scale: 1.06;
}
.main__projects--wrapper .projects__filters--list .filter.active::after {
  width: 100%;
}
.main__projects--wrapper .projects__filters--list .filter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 0;
  background-color: #fbc4ab;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__filters--list .filter::after {
    bottom: 0;
    height: 1px;
  }
}
.main__projects--wrapper .projects__flux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem;
}
@media (max-width: 1355px) {
  .main__projects--wrapper .projects__flux {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__flux {
    gap: 1.25rem;
  }
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux {
    gap: 1.5625rem;
  }
}
.main__projects--wrapper .projects__flux--item {
  background-color: #FFF;
  color: #070707;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  border-radius: 40px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.main__projects--wrapper .projects__flux--item:hover {
  scale: 1.02;
}
.main__projects--wrapper .projects__flux--item .image {
  width: 200px;
  min-height: 200px;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item .image {
    width: 100%;
    height: 100px;
  }
}
.main__projects--wrapper .projects__flux--item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__projects--wrapper .projects__flux--item .content {
  padding: 0.9375em 0.625em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.9375rem;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.main__projects--wrapper .projects__flux--item .content__infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3125rem;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item .content__infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}
.main__projects--wrapper .projects__flux--item .content__infos--description {
  font-style: italic;
}
.main__projects--wrapper .projects__flux--item .content__infos--stack {
  font-weight: 400;
}
.main__projects--wrapper .projects__flux--item .content__infos--stack .label {
  font-weight: 600;
}
.main__projects--wrapper .projects__flux--item .content__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.main__projects--wrapper .projects__flux--item .content__links a {
  padding: 0.125em 1.25em;
  border-radius: 20px;
  font-size: 0.875rem;
}
.main__projects--wrapper .projects__flux--item .content__links .live:hover {
  background-color: #070707;
  color: #FFF;
  scale: 1.1;
}
.main__projects--wrapper .projects__flux--item .content__links .github:hover {
  background-color: #fbc4ab;
  border-color: #fbc4ab;
  color: #070707;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Moderustic", sans-serif;
  background-color: #FFF;
  color: #070707;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  transition: 0.3s ease-in-out;
}
@media (min-width: 841px) {
  body {
    overflow-y: hidden;
  }
}
body.vertical-scroll {
  overflow-y: auto;
}

a {
  color: #070707;
  text-decoration: none;
}

a, button {
  font-family: "Moderustic", sans-serif;
}

::selection {
  background: #14213D;
  color: #FFF;
}

.main {
  width: 100vw;
  height: calc(100vh - 70.4px - 78.2px);
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 130px;
    height: unset;
    overflow-y: auto;
  }
}
.main.vertical-scroll {
  height: 100%;
}
.main section {
  min-width: 100vw;
}

/*# sourceMappingURL=main.css.map */
