.wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1340px) {
  .wrapper {
    padding: 0 20px;
  }
}

.logo {
  color: #fcf6f6;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: -5px;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  color: #a0e9b0;
  scale: 1.1;
}

.display-none {
  display: none;
}

.title {
  font-family: "Gotu", sans-serif;
}

@keyframes animateBlob {
  0%, 100% {
    background: #fcf6f6;
    background: linear-gradient(168deg, #fcf6f6 0%, rgb(245, 245, 245) 100%);
    border-radius: 52% 48% 70% 30%/51% 55% 45% 49%;
  }
  25% {
    background: #a0e9b0;
    background: linear-gradient(340deg, #e2d9cc 0%, #a0e9b0 100%);
    border-radius: 30% 70% 8% 92%/49% 19% 81% 51%;
  }
  50% {
    background: #171717;
    background: linear-gradient(340deg, #dedcd9 0%, #171717 100%);
    border-radius: 30% 70% 8% 92%/49% 19% 81% 51%;
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    top: -100vh;
    scale: 2.5;
  }
  100% {
    opacity: 1;
    top: 0;
    scale: 1;
  }
}
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    bottom: -100vh;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.preload-playground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  color: #fcf6f6;
  z-index: 99;
}
.preload-ball {
  width: 20px;
  height: 20px;
  background-color: #00e13d;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  scale: 5;
  opacity: 1;
  z-index: 100;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #171717;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.primary-cta {
  width: fit-content;
  background-color: #00e13d;
  color: #fff;
  border-radius: 40px;
  border: 1px solid #00e13d;
  padding: 0.3125em 1.0625em;
  text-transform: lowercase;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease-in-out;
}
.primary-cta:hover {
  background-color: #171717;
  color: #a0e9b0;
  border-color: #a0e9b0;
}

.secondary-cta {
  background-color: #171717;
  color: #fcf6f6;
  border-radius: 40px;
  border: 1px solid #fcf6f6;
  padding: 0.3125em 1.0625em;
  text-transform: lowercase;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.3s ease-in-out;
}
.secondary-cta:hover {
  background-color: #fcf6f6;
  color: #171717;
}

.header {
  width: 100%;
  padding: 1.25em 0;
}
@media (max-width: 840px) {
  .header {
    padding: 1.25em 0;
  }
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 840px) {
  .header__content {
    align-items: flex-start;
  }
}
.header__content--logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.header__content--nav {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.875em;
}
@media (max-width: 840px) {
  .header__content--nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    row-gap: 0.3125em;
  }
}
.header__content--nav a {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  position: relative;
  text-transform: lowercase;
  transition: color 0.3s ease-in-out;
  font-family: "Gotu", sans-serif;
}
@media (max-width: 840px) {
  .header__content--nav a {
    font-size: 1rem;
  }
}
.header__content--nav a:hover {
  color: #a0e9b0;
}
.header__content--nav a:hover::after {
  width: 100%;
}
.header__content--nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 0;
  background-color: #a0e9b0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .header__content--nav a::after {
    bottom: 0;
    height: 1px;
  }
}
.header__content--nav a i {
  font-size: 0.9375rem;
}
@media (max-width: 840px) {
  .header__content--nav a i {
    font-size: 0.8125rem;
  }
}

.footer {
  width: 100%;
  padding: 6.25em 0 0.625em;
  transition: 0.3s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 840px) {
  .footer {
    padding: 3.125em 0 1.25em;
  }
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.9375em;
}
.footer__content--links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
}
@media (max-width: 840px) {
  .footer__content--links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.9375em;
  }
}
.footer__content--links .menu {
  display: none;
  gap: 15px;
}
@media (max-width: 840px) {
  .footer__content--links .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3px;
  }
}
.footer__content--links .menu a {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .footer__content--links .menu a {
    font-size: 0.875rem;
  }
}
.footer__content--links .menu a:hover {
  color: #a0e9b0;
}
.footer__content--links .menu a:hover::after {
  width: 100%;
}
.footer__content--links .menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  width: 0;
  background-color: #a0e9b0;
  transition: all 0.3s ease-in-out;
}
.footer__content--links .find-me {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 15px;
}
.footer__content--links .find-me a {
  font-size: 1.125rem;
  transition: color 0.3s ease-in-out;
}
.footer__content--links .find-me a:hover {
  color: #a0e9b0;
}
.footer__content--copyrights {
  width: 100%;
  text-align: center;
  opacity: 0;
}
@media (max-width: 840px) {
  .footer__content--copyrights {
    font-size: 0.75rem;
    text-align: left;
  }
}
.footer__content--copyrights a, .footer__content--copyrights span {
  font-size: 0.8125rem;
  font-weight: 400;
}
.footer__content--copyrights a {
  transition: color 0.3s ease-in-out;
  color: inherit;
}
@media (max-width: 840px) {
  .footer__content--copyrights a {
    font-size: 0.75rem;
  }
}
.footer__content--copyrights a:hover {
  color: #a0e9b0;
}

.main__hero {
  min-height: calc(100vh - 80px - 91px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 840px) {
  .main__hero {
    align-items: flex-start;
  }
}
.main__hero--wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}
@media (max-width: 840px) {
  .main__hero--wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.main__hero--wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 840px) {
  .main__hero--wrapper .content {
    align-items: center;
  }
}
.main__hero--wrapper .content__fname, .main__hero--wrapper .content__lname {
  font-size: 3.4375rem;
  line-height: 3.4375rem;
}
@media (max-width: 440px) {
  .main__hero--wrapper .content__fname, .main__hero--wrapper .content__lname {
    font-size: 2.8125rem;
    line-height: 2.8125rem;
  }
}
.main__hero--wrapper .content__fname {
  color: #00e13d;
}
.main__hero--wrapper .content__lname {
  text-transform: uppercase;
}
.main__hero--wrapper .content__work-title {
  margin-top: 0.625rem;
  font-size: 1.25rem;
  font-weight: 400;
  position: relative;
  opacity: 0;
  left: -100%;
}
.main__hero--wrapper .content__work-title, .main__hero--wrapper .content__lname {
  transition: 0.4s ease-in-out;
}
.main__hero--wrapper .content__work-title:hover, .main__hero--wrapper .content__lname:hover {
  color: #a0e9b0;
  scale: 1.025;
}
.main__hero--wrapper .illust {
  position: relative;
}
.main__hero--wrapper .illust__speech-bubble {
  position: absolute;
  top: -1.25rem;
  right: -0.625rem;
  background-color: #fcf6f6;
  color: #171717;
  padding: 0.375em 0.875em;
  border-radius: 14px;
  transition: scale 0.3 ease-in-out;
  opacity: 0;
  scale: 0;
}
@media (max-width: 840px) {
  .main__hero--wrapper .illust__speech-bubble {
    top: -1.875rem;
    right: -1.25rem;
  }
}
.main__hero--wrapper .illust__speech-bubble:hover {
  background-color: #00e13d;
  color: #fff;
}
.main__hero--wrapper .illust__speech-bubble:hover::after {
  border-top-color: #00e13d;
}
.main__hero--wrapper .illust__speech-bubble--text {
  color: inherit;
  font-family: "Comic Sans", cursive, sans-serif;
}
.main__hero--wrapper .illust__speech-bubble::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #fcf6f6;
  border-top-color: #fcf6f6;
}
.main__hero--wrapper .illust__image {
  width: 225px;
  height: 225px;
  background-color: #fcf6f6;
  border: 3px solid #00e13d;
  border-radius: 50%;
  overflow: hidden;
}
.main__hero--wrapper .illust__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__hero--wrapper .illust__video {
  width: 225px;
  height: 225px;
  background-color: #fcf6f6;
  color: #171717;
  overflow: hidden;
  position: relative;
  clip-path: circle(50%);
}
.main__hero--wrapper .illust__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 840px) {
  .main__hero--wrapper .illust__image, .main__hero--wrapper .illust__video {
    width: 150px;
    height: 150px;
  }
}
.main__hero--wrapper .illust__image img, .main__hero--wrapper .illust__image video, .main__hero--wrapper .illust__video img, .main__hero--wrapper .illust__video video {
  transition: transform 0.3s ease-in;
}
.main__hero--wrapper .illust__image img:hover, .main__hero--wrapper .illust__image video:hover, .main__hero--wrapper .illust__video img:hover, .main__hero--wrapper .illust__video video:hover {
  transform: rotate(180deg);
  scale: 2;
}

.main__about--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__about--wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  max-width: 500px;
}
@media (max-width: 765px) {
  .main__about--wrapper .content {
    align-items: center;
  }
}
.main__about--wrapper .content__title {
  transition: 0.4s ease-in-out;
}
.main__about--wrapper .content__title:hover {
  color: #a0e9b0;
  scale: 1.025;
}
.main__about--wrapper .content__text {
  color: #fcf6f6;
}

.main__skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main__skills--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 840px) {
  .main__skills--wrapper {
    gap: 1.875rem;
  }
}
.main__skills--wrapper .skills {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
@media (max-width: 840px) {
  .main__skills--wrapper .skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
  }
}
.main__skills--wrapper .skills__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.625rem;
  padding: 1.5625em 1.25em;
  transition: 0.3s ease-in-out;
}
@media (max-width: 920px) {
  .main__skills--wrapper .skills__item {
    padding: 0.625em;
  }
}
@media (max-width: 840px) {
  .main__skills--wrapper .skills__item {
    padding: 0.625em 1.5625em;
  }
}
.main__skills--wrapper .skills__item:hover, .main__skills--wrapper .skills__item.active {
  background-color: #171717;
  color: #fcf6f6;
  scale: 1.2;
}
@media (max-width: 920px) {
  .main__skills--wrapper .skills__item:hover, .main__skills--wrapper .skills__item.active {
    scale: 1.1;
  }
}
@media (max-width: 840px) {
  .main__skills--wrapper .skills__item:hover, .main__skills--wrapper .skills__item.active {
    scale: 1;
  }
}
.main__skills--wrapper .skills__item:hover.skills__front, .main__skills--wrapper .skills__item.active.skills__front {
  border-radius: 20% 31% 67% 33%/89% 20% 14% 61%;
}
.main__skills--wrapper .skills__item:hover.skills__back, .main__skills--wrapper .skills__item.active.skills__back {
  border-radius: 20% 31% 67% 33%/39% 20% 14% 61%;
}
.main__skills--wrapper .skills__item:hover.skills__more, .main__skills--wrapper .skills__item.active.skills__more {
  border-radius: 42% 20% 44% 20%/20% 20% 20% 36%;
}
.main__skills--wrapper .skills__item.active {
  background: linear-gradient(340deg, rgba(227, 217, 217, 0.6078431373) 0%, #fcedfc 100%);
  color: #fcf6f6;
}
.main__skills--wrapper .skills__item--title {
  font-size: 2.5rem;
}
.main__skills--wrapper .skills__item--list {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.main__skills--wrapper .skills__item--list .skill {
  font-size: 1.125rem;
}

.main__career--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__career--wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  max-width: 500px;
  text-align: center;
}
@media (max-width: 510px) {
  .main__career--wrapper .content {
    max-width: 100%;
  }
}
.main__career--wrapper .content__title {
  transition: 0.4s ease-in-out;
}
.main__career--wrapper .content__title:hover {
  color: #a0e9b0;
  scale: 1.025;
}

.main__projects {
  background-color: #fcf6f6;
  color: #171717;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main__projects--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 1355px) {
  .main__projects--wrapper {
    padding: 1.25em;
  }
}
@media (max-width: 840px) {
  .main__projects--wrapper {
    padding: 3.125em 0 5em;
    gap: 1.875rem;
  }
}
.main__projects--wrapper .projects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 3.125em 0.625em;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 1.875em;
    gap: 10px;
  }
}
.main__projects--wrapper .projects__filters {
  height: 100%;
}
.main__projects--wrapper .projects__filters--list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.9375rem;
  padding: 1.25em 0.9375em;
  border-radius: 10px;
  border-right: 0.4px solid #a0e9b0;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__filters--list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-right: none;
  }
}
.main__projects--wrapper .projects__filters--list .filter {
  font-size: 1.125rem;
  font-weight: 400;
  position: relative;
  text-transform: lowercase;
  transition: color 0.3s ease-in-out;
  font-family: "Gotu", sans-serif;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__filters--list .filter {
    font-size: 1rem;
  }
}
.main__projects--wrapper .projects__filters--list .filter:hover, .main__projects--wrapper .projects__filters--list .filter.active {
  color: #a0e9b0;
  scale: 1.06;
}
.main__projects--wrapper .projects__filters--list .filter.active::after {
  width: 100%;
}
.main__projects--wrapper .projects__filters--list .filter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 0;
  background-color: #a0e9b0;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__filters--list .filter::after {
    bottom: 0;
    height: 1px;
  }
}
.main__projects--wrapper .projects__flux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9375rem;
}
@media (max-width: 1355px) {
  .main__projects--wrapper .projects__flux {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 840px) {
  .main__projects--wrapper .projects__flux {
    gap: 1.25rem;
  }
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux {
    gap: 1.5625rem;
  }
}
.main__projects--wrapper .projects__flux--item {
  background-color: #171717;
  color: #fcf6f6;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  border-radius: 40px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}
.main__projects--wrapper .projects__flux--item:hover {
  scale: 1.02;
}
.main__projects--wrapper .projects__flux--item .image {
  width: 200px;
  min-height: 200px;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item .image {
    width: 100%;
    height: 100px;
  }
}
.main__projects--wrapper .projects__flux--item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main__projects--wrapper .projects__flux--item .content {
  padding: 0.9375em 0.625em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.9375rem;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.main__projects--wrapper .projects__flux--item .content__infos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3125rem;
}
@media (max-width: 490px) {
  .main__projects--wrapper .projects__flux--item .content__infos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .main__projects--wrapper .projects__flux--item .content__infos--description {
    text-align: center;
  }
}
.main__projects--wrapper .projects__flux--item .content__infos--description {
  font-style: italic;
}
.main__projects--wrapper .projects__flux--item .content__infos--stack {
  font-weight: 400;
}
.main__projects--wrapper .projects__flux--item .content__infos--stack .label {
  font-weight: 600;
}
.main__projects--wrapper .projects__flux--item .content__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.main__projects--wrapper .projects__flux--item .content__links a {
  padding: 0.125em 1.25em;
  border-radius: 20px;
  font-size: 0.875rem;
}
.main__projects--wrapper .projects__flux--item .content__links .live:hover {
  background-color: #fcf6f6;
  color: #171717;
  scale: 1.1;
}
.main__projects--wrapper .projects__flux--item .content__links .github:hover {
  background-color: #a0e9b0;
  border-color: #a0e9b0;
  color: #fcf6f6;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #171717;
  color: #fcf6f6;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  transform-origin: center;
  transition: 0.3s ease-in-out;
}

a {
  color: #fcf6f6;
  text-decoration: none;
}

a, button {
  font-family: "Gotu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::selection {
  background: #fcf6f6;
  color: #171717;
}

h3 {
  font-size: 1rem;
}

.main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 130px;
  scroll-behavior: smooth;
  transition: 0.3s ease-in-out;
}
.main section {
  width: 100%;
}
.main .section {
  opacity: 0;
  transform: translateY(50px);
  margin-bottom: 100px;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: #fcf6f6;
}

::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00e13d;
}

/*# sourceMappingURL=main.css.map */
