.primary-cta
  background-color: $primaryColor
  color: $mainBackground
  border-radius: 40px
  border: 1px solid $primaryColor
  padding: toEm(5) toEm(17)
  text-transform: lowercase
  font-size: toRem(16)
  @include displayFlex(row, center, center)
  gap: 8px
  transition: .3s ease-in-out

  &:hover
    background-color: $mainBackground
    color: $primaryHoverColor
    border-color: $primaryHoverColor



.secondary-cta
  background-color: $mainBackground
  color: $primaryColor
  border-radius: 40px
  border: 1px solid $primaryColor
  padding: toEm(5) toEm(17)
  text-transform: lowercase
  font-size: toRem(16)
  @include displayFlex(row, center, center)
  gap: 8px
  transition: .3s ease-in-out

  &:hover
    background-color: $primaryColor
    color: $mainBackground

    